<a href="https://colab.research.google.com/github/DJKIMM/assignment_stat.math/blob/main/22_05_25_22_05_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##if-else 문장

In [ ]:
money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [ ]:
money = 2000
if money >= 3000:
  print("택시타라")
else:
  print("걸어라")

걸어라

In [ ]:
card = True
if money >= 3000 or card:
  print("택시타라")
else:
  print("걸어라")

택시타라

* 다른 프로그래밍 언어에서 쉽게 볼 수 없는 조건문들

In [ ]:
1 in [1, 2, 3]

True

In [ ]:
4 not in [1, 2, 3]

True

In [ ]:
4 in (1, 2, 3)

False

In [ ]:
4 not in (1, 2, 3)

True

In [ ]:
'n' in "python"

True

In [ ]:
'j' not in "python"

True

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시타라")
else:
  print("걸어라")

택시타라

* pass : 조건문에서 아무 일도 하지 않게 설정하고 싶을 때

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  pass
else:
  print("카드를 꺼내라")

# money가 있으므로 결과값 출력하지 않음

* if - else와 elif

In [ ]:
# if - else
pocket = ["paper", "cellphone"]
card = True
if 'money' in pocket:
  print("택시타라")
else:
  if card:
    print("택시타라")
  else:
    print("걸어가라")

택시타라

In [ ]:
# elif
pocket = ["paper", "cellphone"]
card = True
if 'money' in pocket:
  print("택시타라")
elif card:
  print("택시타라")
else:
  print("걸어가라")

택시타라

In [ ]:
score = 70
if score >= 60:
  message = "success"
else:
  message = "failure"
message

'success'

In [ ]:
# 위와 같은 결과값 출력
message = "success" if score >= 60 else "failure"
message

'success'

## While문

In [147]:
treeHit = 0
while treeHit < 10:
  treeHit = treeHit + 1
  print("나무를 %d번 찍었습니다." % treeHit) ## %d: 정수 대입, treeHit는 정수
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [148]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

# 줄바꿈 모두 표기
prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number: '

In [149]:
# 줄바꿈 반영해서 결과값 출력
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number:

## input

In [ ]:
# character로 받아들임
a = input()

1

In [ ]:
a

'1'

In [ ]:
# 숫자로 받아들이고 싶을 때 강제 형변환
a = int(input())

1

In [ ]:
a

1

In [ ]:
number = 0
while number != 4:
  print(prompt)
  # 2를 입력하면
  number = int(input()) # 2 출력
  print(number) # 2 출력

# 4가 입력되면 44 출력 후 실행 멈춤

1. Add
2. Del
3. List
4. Quit

Enter number:
2
2

1. Add
2. Del
3. List
4. Quit

Enter number:
4
4

In [ ]:
number = 0
while number != 4:
  print(prompt)
  number = int(input())
  if number == 1:
    print("Add")
  elif number == 2:
    print("Del")
  elif number == 3:
    print("List")
  elif number == 4:
    print("Quit")
  else:
    print("NA")

# 1, 2, 3 입력하면 해당하는 문장 출력 후 prompt 출력
# 5 입력하면 NA
# 4 입력하면 Quit 출력 후 실행 멈춤

1. Add
2. Del
3. List
4. Quit

Enter number:
3
List

1. Add
2. Del
3. List
4. Quit

Enter number:
5
NA

1. Add
2. Del
3. List
4. Quit

Enter number:
4
Quit

* while문 강제로 빠져나가기 : break

In [ ]:
coffee = 10 # 자판기가 팔 수 있는 커피는 maximum이 10개
money = 300 # money가 바뀌지 않으므로 무한루프
while money:
  print("커피")
  coffee = coffee - 1
  print("남은 커피의 양은 %d 개입니다." % coffee)
  if coffee == 0:
    print("Sold Out")
    break # while 문에서 나옴

커피
남은 커피의 양은 9 개입니다.
커피
남은 커피의 양은 8 개입니다.
커피
남은 커피의 양은 7 개입니다.
커피
남은 커피의 양은 6 개입니다.
커피
남은 커피의 양은 5 개입니다.
커피
남은 커피의 양은 4 개입니다.
커피
남은 커피의 양은 3 개입니다.
커피
남은 커피의 양은 2 개입니다.
커피
남은 커피의 양은 1 개입니다.
커피
남은 커피의 양은 0 개입니다.
Sold Out

In [ ]:
coffee = 10
while True: # 무한루프
  # input은 character로 바뀌어서 나오기 때문에 int로 형변환
  money = int(input("돈을 넣어주세요: "))
  if money == 300:
    print("커피")
    coffee = coffee - 1
  elif money > 300:
    print("커피, 거스름돈 %d" % (money - 300))
    coffee = coffee - 1
  else:
    print("돈 돌려주기")
  print("남은 커피 %d" % coffee)
  if coffee == 0:
    print("Sold Out!")
    break

# 300 넣으면 커피, 남은 커피 출력 - 커피 개수 차감
# 400 넣으면 커피, 거스름돈 출력 - 커피 개수 차감
# 200 넣으면 돈 돌려주기 출력, 커피 개수 차감하지 않음
# 커피를 모두 소진하면 커피, 남은 커피 0, Sold Out! 출력

돈을 넣어주세요: 300
커피
남은 커피 9
돈을 넣어주세요: 400
커피, 거스름돈 100
남은 커피 8
돈을 넣어주세요: 200
돈 돌려주기
남은 커피 8
돈을 넣어주세요: 300
커피
남은 커피 7
돈을 넣어주세요: 300
커피
남은 커피 6
돈을 넣어주세요: 300
커피
남은 커피 5
돈을 넣어주세요: 30
돈 돌려주기
남은 커피 5
돈을 넣어주세요: 300
커피
남은 커피 4
돈을 넣어주세요: 300
커피
남은 커피 3
돈을 넣어주세요: 300
커피
남은 커피 2
돈을 넣어주세요: 300
커피
남은 커피 1
돈을 넣어주세요: 300
커피
남은 커피 0
Sold Out!

* continue : 건너뜀

In [ ]:
a = 0
while a < 10:
  a = a + 1
  # a를 2로 나누었을 때 나머지가 0이면 건너뛰고 while문으로 돌아감
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

In [ ]:
# 위와 같은 문장 pass로 만들기
a = 0
while a < 10:
  a = a + 1
  # a를 2로 나누었을 때 나머지가 0이면 건너뛰고 else로 넘어감
  if a % 2 == 0:
    pass
  else:
    print(a)

In [ ]:
## 위와 같은 문장 if로만 만들기
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 1:
    print(a)

1
3
5
7
9

## for문

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [ ]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
  print(first + last)

# 1 + 2, 3 + 4, 5 + 6 계산한 값 출력

3
7
11

In [ ]:
(first, last) = (10, 20)
first

10

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0 # 초기치 부여
for mark in marks: # marks의 성적이 mark에 하나씩 부여됨
  number = number + 1 # 학생 번호 만들기
  if mark >= 60:
    print("%d 학생 합격" % number)
  else:
    print("%d 학생 불합격" % number)

1 학생 합격
2 학생 불합격
3 학생 합격
4 학생 불합격
5 학생 합격

In [ ]:
# continue 이용
marks = [90, 25, 67, 45, 80]
number = 0 # 초기치 부여
for mark in marks: # marks의 성적이 mark에 하나씩 부여됨
  number = number + 1 # 학생 번호 만들기
  if mark < 60:
    continue
  print("%d 학생 합격 축하!" % number)

1 학생 합격 축하!
3 학생 합격 축하!
5 학생 합격 축하!

* range 함수

In [ ]:
# 0~9까지의 sequence
range(10)

range(0, 10)

In [ ]:
# 1~10까지의 sequence
range(1, 11)

range(1, 11)

In [ ]:
add = 0
for i in range(1, 11):
  add = add + i
  print(add) # 과정 출력
  # 1
  # 1 + 2
  # 1 + 2 + 3
  # ...
  # 1+ ... + 10
print(add) # 1 + ... + 10 값 출력

1
3
6
10
15
21
28
36
45
55
55

In [ ]:
# index 이용 (초기치 필요 없음)
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)): # i가 0부터 4까지 커짐에 따라
  if marks[i] < 60:
    continue
  print("%d 학생 합격 축하!" % (i + 1))

1 학생 합격 축하!
3 학생 합격 축하!
5 학생 합격 축하!

In [ ]:
for i in range(2, 10):
  for j in range(1, 10):
    print(i * j, end = " ") # j가 바뀔 때 한 칸 띄우기, 줄 바뀌지 않도록
  print(' ') # i가 바뀔 때 줄 바꾸기

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 리스트 내포 사용

In [ ]:
a = [1, 2, 3, 4]
result = []
for num in a:
  result.append(num * 3)

result

[3, 6, 9, 12]

In [ ]:
# [](리스트 내포) 사용하면 결과 바로 출력
result = [num * 3 for num in a]
result

[3, 6, 9, 12]

In [ ]:
[num * 3 for num in a if num % 2 == 0]

[6, 12]

In [ ]:
A = [x * y for x in range(2, 10) for y in range(1, 10)]
print(A)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 함수

In [ ]:
def add(a, b):
  return a + b

add(2, 3)

5

In [ ]:
def add(a, b):
  result = a + b
  return result

add(2, 3)

5

In [ ]:
# 매개변수(입력값) 없음
def say():
  return "Hi"

say()

'Hi'

In [ ]:
a = say()
print(a)

Hi

In [ ]:
# 출력값 없음
def add(a, b):
  print("%d + %d = %d" % (a, b, a + b))

# print는 되지만 return되는 값(출력값)은 없음
add(2, 3)

2 + 3 = 5

In [ ]:
a = add(2, 3)
print(a) # return되는 값(출력값)이 없으므로 None 출력

2 + 3 = 5
None

In [ ]:
# 입력값, 출력값 모두 없음
def say():
  print("Hi")

In [ ]:
a = say()
print(a) # return되는 값(출력값)이 없으므로 None 출력

Hi
None

In [ ]:
def add(a, b):
  print("%d + %d = %d" % (a, b, a + b))
  
# 매개변수 지정 호출
add(b = 3, a = 4)

4 + 3 = 7

* "*" 이용 : 받아들이는 매개변수가 몇 개인지 명확하지 않을 때 이용

In [ ]:
def add_many(*args):
  result = 0
  for i in args: # args: 넣어준 숫자
    result = result + i
  return(result)

add_many(1, 2, 3)

In [ ]:
def add_mul(choice, *args): # 개수가 정확한 것을 먼저 써줘야 함
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
    result = 1
    for i in args:
      result = result * i
  return(result)

15

In [ ]:
add_mul("add", 1, 2, 3, 4, 5)

15

In [ ]:
add_mul("mul", 1, 2, 3, 4, 5)

120

* return할 수 있는 값은 1개
* 2개 값을 return하고 싶으면 tuple형태로 출력

In [ ]:
def add_and_mul(a, b):
  return a + b, a * b

In [ ]:
add_and_mul(2, 3)

(5, 6)

In [ ]:
a, b = add_and_mul(2, 3)
a

5

In [ ]:
(a, b) = add_and_mul(2, 3)
(a, b)

(5, 6)

In [ ]:
def say_myself(name, old, man):
  print("name:%s" % name)
  print("age: %d" % old)
  if man:
    print("Man")
  else:
    print("Woman")

say_myself("Park", 30, True)

name:Park
age: 30
Man

In [ ]:
# Man을 default 값으로 설정(매개변수의 초기값 설정)
 # default 값이 있는 변수는 맨 뒤로 배치
def say_myself(name, old, man = True): # man을 초기값으로 설정
  print("name:%s" % name)
  print("age: %d" % old)
  if man:
    print("Man")
  else:
    print("Woman")

In [ ]:
# man을 입력하지 않아도 Man 출력
say_myself("Park", 30)

name:Park
age: 30
Man

In [ ]:
say_myself("Park", 30, False)

name:Park
age: 30
Woman

In [ ]:
a = 1
def vartest(a):
  a = a + 1

In [ ]:
vartest(a)
a
# 함수 내부의 a는 2가 될 것이지만 출력하면 a 값은 1

1

In [ ]:
def vartest(a):
  a = a + 1
  return a

vartest(a)

2

* global

In [ ]:
# 매개변수 없는 함수와 global
a = 1
def vartest(): # 매개변수 없는 함수
  global a
  a = a + 1

In [ ]:
# 초기값
a

1

In [ ]:
# 함수 실행: return이 없어서 값을 출력하지 않음
vartest()

In [ ]:
# 함수 실행 후 a 값 출력하면 함수 실행 결과값(1 + 1) 출력
a

2

## 입력과 출력

In [ ]:
a = input("Enter: ")

Enter: 1

In [ ]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [ ]:
# 공백없이 출력
print("A" "B" "C")

ABC

In [ ]:
# 공백없이 출력(위와 같은 결과값)
print("A" + "B" + "C")

ABC

In [ ]:
# 공백있게 출력
print("A", "B", "C")

A B C

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i, end = " ") # 공백 하나씩, 옆으로 출력

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):
  print(i, end = "") # 공백 없이, 옆으로 출력

0123456789

## 컴퓨터에 파일 생성하기 : open, close

In [140]:
# C: 아래 TEMP-2022라는 폴더에 txt 파일 생성하기 (코랩이라 안되나? - 다시 해보기)
f = open("c:\\TEMP-2022\\newfile.txt", 'w') # 'w': write 모드
f.close() # 반드시 해줘야 함

In [141]:
# C: 아래 TEMP-2022라는 폴더에 txt 파일 생성하기 (코랩이라 안되나? - 다시 해보기)
f = open("c:\\TEMP-2022\\newfile-1.txt", 'w') # 'w': write 모드
for i in range(1, 11):
  data = "%d 번째 줄입니다|n" % i
  f.write(data) # file에 data를 작성하라
f.close()

# 1 번째 줄입니다
# 2 번째 줄입니다
# ...
# 10 번째 줄입니다

## 파일 open해서 읽기
* readline : 한 줄 씩 읽기
* readlines : 모두 읽기
* read : 하나의 문자열로 출력

In [144]:
# readline 사용
f = open("c:\\TEMP-2022\\newfile-1.txt", 'r')
line = f.readline()
print(line)

# line = f.readline()
# print(line)
# 입력하면 첫 줄부터 순서대로 읽음
# 모든 줄을 읽으면 출력하지 않음

f.close()

In [ ]:
# while문 사용
f = open("c:\\TEMP-2022\\newfile-1.txt", 'r')
while True: # 무한 루프
  line = f.readline()
  if not line: break # 비어 있는 line이 나오면 while문장이 끝남 -> 출력하지 않음
  print(line)
f.close()

In [ ]:
# readlines 사용
f = open("c:\\TEMP-2022\\newfile-1.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line) # lines 출력해보면 \n이 있어서 한 줄씩 띄워진 상태로 출력
f.close()

In [ ]:
# read 사용
f = open("c:\\TEMP-2022\\newfile-1.txt", 'r')
data = f.read() # data 출력해보면 하나의 문자열로 출력
print(data) # data 확인해보면 \n이 있어서 한 줄씩 띄워진 상태로 출력
f.close()

* data 덧붙이기 : 'a'

In [146]:
f = open("c:\\TEMP-2022\\newfile-1.txt", 'a')
for i in range(11, 20):
  data = "%d 번째 줄입니다\n" % i
  f.write(data)

f.close()

* with(파일 생성) : close 자동으로 해줌

In [ ]:
with open("c:\\TEMP-2022\\AA.txt", 'w') as f: # f = open("c:\\TEMP-2022\\newfile-1.txt", 'w')와 같은 말
  f.write("Life is Short")