<a href="https://colab.research.google.com/github/DJKIMM/assignment_stat.math/blob/main/3_sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python: 
## 3. Sequences
The main [sequence types](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range) in Python are lists, tuples and range objects. The main differences between these sequence objects are:

* Lists are [mutable](https://docs.python.org/3/glossary.html#term-mutable) and their elements are usually *homogeneous* (things of the same type making a list of similar objects)
* Tuples are [immutable](https://docs.python.org/3/glossary.html#term-immutable) and their elements are usually *heterogeneous* (things of different types making a tuple describing a single structure)
* Range objects are *efficient* sequences of integers (commonly used in `for` loops), use a small amount of memory and yield items only when needed

## Lists

Create a list using square brackets `[ ... ]` with items separated by commas. For example, create a list of square integers, assign it to a variable and use the built-in function `print()` to display the list:

In [ ]:
# [] <- vector를 나타냄

In [ ]:
names = [3.0, 5.0, 3.0, 2.0]

names

[3.0, 5.0, 3.0, 2.0]

In [ ]:
names[1] # index는 0부터 시작

5.0

In [ ]:
names[2]

3.0

In [ ]:
names = [3.0, 5.0, 4.0, "hello", 3.0]

names[3]

# str도 list에 포함시킬 수 있음

'hello'

In [ ]:
names = [3.0, 5.0, 4.0, "hello", [1, 2, 3, 4, 5]]

names[4]

# 또다른 list도 list에 포함시킬 수 있음

[1, 2, 3, 4, 5]

Lists may contain data of any type including other lists:

In [ ]:
points = [[0,0],[0,1],[1,1],[0,1]]

# 모든 원소가 list여도 됨

print(points)

[[0, 0], [0, 1], [1, 1], [0, 1]]

In [ ]:
points[2]

[1, 1]

In [ ]:
points[2][0]

# 3번째 원소의 첫번째 원소

1

In [ ]:
points[0][3]

IndexError: ignored

### Index

Access the elements of a list by their index:

Notice that lists are indexed starting at 0:

Use negative indices to access elements starting from the end of the list:

Since lists are mutable, we may assign new values to entries in a list:

In [ ]:
a = [3, 5, 7, 9, 11]

In [ ]:
a[4]

11

In [ ]:
a[-1] # 뒤에서 첫번째 원소

11

Use multiple indices to access entries in a list of lists:

### Slice

Create a new list from a sublist (called a slice):

In [2]:
fib = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
fib[0:5]     # fib[a:b] upto b (excluding b)

[1, 1, 2, 3, 5]

In [3]:
fib[2:2]

[]

In [ ]:
fib[2:3]      # 원소 하나지만 list 차원을 유지

[2]

In [ ]:
fib[2]        # element of list 차원을 하나 낮춤

2

In [ ]:
fib[1:-2]

[1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
fib[:3]

[1, 1, 2]

In [ ]:
fib[:]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

Notice in the example `fibonacci[4:7]` the slice begins at index 4 and goes up to *but not including* index 7. This makes sense since the length of the slice is then 7 - 4 = 3.

A slice can skip over entries in a list. For example, create a slice from every third entry from index 0 to 11:

### Concatenate

The addition operator `+` concatenates lists:

In [ ]:
one = [1,3]
two = [2,2]
one + two

[1, 3, 2, 2]

In [ ]:
one + [3]

[1, 3, 3]

### Append

Add a value to the end of a list using the `append()` list method:

In [5]:
squares = [1,4,9,16,25]
squares.append(36)
squares

[1, 4, 9, 16, 25, 36]

In [6]:
squares.append([36, 49])
squares

[1, 4, 9, 16, 25, 36, [36, 49]]

In [7]:
squares = [1,4,9,16,25]
squares.extend([36, 49])   # append와 차이 .extend(iterable) []한겹 빼고
squares

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
squares[3]=100000 # element를 바꿈
squares

[1, 4, 9, 100000, 25, 36, 49]

In [ ]:
squares[3:4] # 4번째 숫자

[100000]

In [ ]:
# list를 바꿈 -> [4]와 비교 우항에 16만 적으면 안됨
squares[3:4]=[16] # list를 추가
squares

[1, 4, 9, 16, 25, 36, 49]

What is an object method? First, an object in Python (such as a list) contains data as well as functions (called methods) to manipulate that data. Everything in Python is an object! The list `squares` in the cell above contains the integer entries (the data) but it also has methods like `append()` to manipulate the data. We'll see more about objects and methods later on. For now, see the documentation for a complete list of [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

## Tuples $ \approx $ List

Create a tuple with parentheses `( ... )`:

tuple의 element를 바꿀 수 없다

In [ ]:
a = (3, 5, 7)
a

(3, 5, 7)

In [ ]:
a[1:]

(5, 7)

In [ ]:
a[1] = 1000    # list와의 차이점: 원소를 바꿀 수 없다

TypeError: ignored

Indexing, slicing and concatenating work for tuples in the exact same way as for lists:

In [11]:
today = (2019, 7, 11)

In [12]:
print(today[0])
print(today[-1])
print(today[1:3])

2019
11
(7, 11)

## Range Objects

Create a range object with the built-in function `range()`. The parameters `a`, `b` and `step` in `range(a,b,step)` are integers and the function creates an object which represents the sequence of integers from `a` to `b` (exclusively) incremented by `step`. (The parameter `step` may be omitted and is equal to 1 by default.)

In [ ]:
a = range(0,10)
print(a)
list(a)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Notice that a range object does not display the values of its entries when printed. This is because a range object is an efficient sequence which yields values only when needed.

Use the built-in function `list()` to convert a range object to a list:

In [ ]:
a = range(0,10, 2) # 0부터 10 앞에까지 끊기게 2씩 증가하는 list remember every 순서
list(a)

[0, 2, 4, 6, 8]

Create a range of even integers and convert it to a list:

## Unpacking a Sequence

One of the features of a Python sequence is *unpacking* where we assign all the entries of a sequence to variables in a single operation. For example, create a tuple representing a date and unpack the data as `year`, `month` and and `day`:

In [ ]:
a = (1, 3, 5)
a1, a2, a3 = a

In [ ]:
a1 # 괄호 없이 원소만 뜸 slicing 아님

1

In [ ]:
a[0:1] # slicing

(1,)

In [ ]:
b = [[1, 2, 3], [4, 5], 6]
b

[[1, 2, 3], [4, 5], 6]

In [ ]:
b1, b2, b3 = b

In [ ]:
print(b1, b2, b3) # 괄호 없이 원소만 나옴

[1, 2, 3] [4, 5] 6

In [ ]:
b[0:1]
b[0]

[1, 2, 3]

## List Comprehensions

The built-in function `range()` is an efficient tool for creating sequences of integers but what about an arbitrary sequence? It is very inefficient to create a sequence by manually typing the numbers. For example, simply typing out the numbers from 1 to 20 takes a long time!

Python has a beautiful syntax for creating lists called [list comprehensions](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions). The syntax is:

```python
[expression for item in iterable]
```

where:

* `iterable` is a range, list, tuple, or any kind of sequence object
* `item` is a variable name which takes each value in the iterable
* `expression` is a Python expression which is calculated for each value of `item`

Use a list comprehension to create the list from 1 to 20:

In [ ]:
[n**2 for n in range(1, 6)] #range(1, 6) = [1, 2, 3, 4, 5] 조건제시법

[1, 4, 9, 16, 25]

## Built-in Functions for Sequences

Python has several [built-in functions](https://docs.python.org/3/library/functions.html) for computing with sequences. For example, compute the length of a list:

In [ ]:
a = [1, 3, 5, 7]
len(a) # 길이

4

In [ ]:
print(sum(a), max(a))
print(min(a))

16 7
1

In [ ]:
a = [1, 3, 5, [7, 10, 11, 12]]
len(a)

4

In [ ]:
sum(a) # list가 포함되어 있으므로 error

TypeError: ignored

Compute the sum, maximum and minimum of a list of numbers:

In [ ]:
random = [3,-5,7,8,-1]
sorted(random)

[-5, -1, 3, 7, 8]

In [ ]:
# reverse?
sorted(random, reverse = True)

[8, 7, 3, -1, -5]

## Examples

### Triangular Numbers

The formula for the sum of integers from 1 to $N$ (also known as [triangular numbers](https://en.wikipedia.org/wiki/Triangular_number)) is given by:

$$
\sum_{k=1}^N k = \frac{N(N+1)}{2}
$$

Let's verify the formula for $N=1000$:

In [ ]:
# create list 1~1000
a = range(1, 1001)
sum(a)

500500

In [ ]:
N = 1000
N*(N+1)/2

500500.0

Notice the results agree (although the right side is a float since we used division).

### Sum of Squares

The sum of squares (a special case of a [geometric series](https://en.wikipedia.org/wiki/Geometric_series)) is given by the formula:

$$
\sum_{k=1}^N k^2 = \frac{N(N+1)(2N+1)}{6}
$$

Let's verify the formula for $N=2000$:

In [ ]:
a = [i**2 for i in range(1, 2001)]
sum(a)

2668667000

In [ ]:
N = 2000 # 먼저 쓰기
N*(N+1)*(2*N+1)/6

2668667000.0

In [ ]:
s = 0
for k in range(1, 2001):
  s = s + k**2

print(s)

2668667000

In [ ]:
s = 0
for k in range(1, 2001):
  s = s + k**2

print(s)

In [ ]:
s = 0
n = 1
while n < 2001:
  s = s + n**2
  n = n + 1
print(s)
# n = 1
# s = 0 + 1**2

# n = 2
# s = 0 + 1**2 + 2**2
# ...
# n = 2000
# s = 0 + 1**2 + ... 2000**2

# n = 2001 stop

2668667000

### Riemann Zeta Function

The [Riemann zeta function](https://en.wikipedia.org/wiki/Riemann_zeta_function) is the infinite series

$$
\zeta(s) = \sum_{n=1}^{\infty} \frac{1}{n^s}
$$

Its [values](https://en.wikipedia.org/wiki/Riemann_zeta_function#Specific_values) are very mysterious! Let's verify the special value formula

$$
\zeta(4) = \sum_{n=1}^{\infty} \frac{1}{n^4} = \frac{\pi^4}{90}
$$

Compute the 1000th partial sum of the series:

In [ ]:
my_seq = [1/n**4 for n in range(1, 1001)]
sum(my_seq)

1.082323233378306

Compare to an approximation of $\frac{\pi^4}{90}$:

In [ ]:
3.14159**4/90

1.082319576918468