<a href="https://colab.research.google.com/github/DJKIMM/assignment_stat.math/blob/main/HW_10_2053001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. 각자의 학번을 입학년도, 학과 코드, 그리고 학과내에서의 번호를 나누어서 출력하시오.
####* 예시: 0029001의 경우 입학년도는 2000, 학과코드는 29, 학과내 번호는 001임.

In [45]:
Num = "2053001"

In [46]:
입학년도 = "20" + Num[0:2]
입학년도

'2020'

In [47]:
학과코드 = Num[2:4]
학과코드

'53'

In [48]:
학과내번호 = Num[4:]
학과내번호

'001'

##2. 1의 결과를 StudentID라는 이름의 딕셔너리로 만드시오. 단, 입학년도는 “year", 학과코드는 “department”, 학과내 번호는 “ID”로 표시.
####* 예시: “year”는 2000, “department”는 29, “ID”는 001

In [49]:
StudentID = {"year" : 입학년도, "department" : 학과코드, "ID" : 학과내번호}
StudentID

{'ID': '001', 'department': '53', 'year': '2020'}

##3. 2에서 만든 딕셔너리 StudentID에서 “department”에 해당하는 값을 추출하시오.

In [50]:
StudentID["department"]

'53'

##4. 자연수 13과 14가 각각 소수인지를 python을 이용하여 판별해 보시오.

#### method 1) if-else문 사용

In [51]:
x = 13
for i in range(2, 13):
  if x % i == 0:
    print("%d는 소수가 아닙니다." % x)
    break
  else:
    print("%d는 소수입니다." % x)
    break

13는 소수입니다.

In [52]:
x = 14
for i in range(2, 14):
  if x % i == 0:
    print("%d는 소수가 아닙니다." % x)
    break
  else:
    print("%d는 소수입니다." % x)
    break

14는 소수가 아닙니다.

method 2) 함수 사용

In [53]:
# x가 1보다 큰 정수라고 가정
def prime(x):
  if x == 2:
    return "%d는 소수입니다." % x
  else:
    for i in range(2, x): # 2부터 (x - 1)로 나누어지지 않는 숫자는 소수
      if x % i == 0:
        return "%d는 소수가 아닙니다." % x
      else:
        return "%d는 소수입니다." % x

In [55]:
# 13일 때 확인
prime(13)

'13는 소수입니다.'

In [54]:
# 14일 때 확인
prime(14)

'14는 소수가 아닙니다.'

##5. [‘A’,’C’,’D’,’E’,’H’,’G’,’B’,’F’] 리스트를 ‘ABCDEFGH’ 문자열로 만들어서 출력해 보시오

In [56]:
a = ['A', 'C','D', 'E', 'H', 'G', 'B', 'F']

In [57]:
a.sort()

In [58]:
a

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [59]:
## answer
''.join(a)

'ABCDEFGH'